{% extends 'base.html' %}

{% block content %}
<div class="accordion" id="accordionPanelsStayOpenExample">
    {% for i in range(dic|length) %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-heading{{num[i]}}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{num[i]}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{num[i]}}">
            {{dic[i][0]}} {{dic[i][1]|length}}
        </button>
      </h2>
      <div id="panelsStayOpen-collapse{{num[i]}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{num[i]}}">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                {% for j in range(dic[i][1]|length) %}
                    <li class="list-group-item">{{j+1}}: {{dic[i][1][j]}}</li>
                {% endfor %}
            </ul>
        </div>
      </div>
    </div>
    {%endfor%}
</div>
{% endblock %}